body {
  background-image: url("https://pub-static.fotor.com/assets/projects/pages/a6bf9710-13d0-11e9-b390-57312b61ab95_3629c1d0-336d-426b-bbe3-142085fab625_thumb.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  background-size: 150mm;
  background: cover;
  background-color: rgb(255, 240, 248);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
